@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-classic-cream text-classic-slate font-sans;
}

h1,
h2,
h3,
h4 {
    @apply font-serif;
}

.glass-panel {
    @apply bg-white/70 backdrop-blur-md border border-white/40 shadow-glass;
}